[Bb]in/
[Oo]bj/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

.vscode/

appsettings.Development.json
appsettings.json

packages/
*.nupkg

*.tmp
*.log
*.cache
*.bak

.idea/
*.dotCover

.DS_Store
Thumbs.db

*.ipdb
*.pdb
*.obj
*.dll
*.exe
